nav {
  /* background-color: #fcdada; */
  display: flex;
  background-color: white;
  border-bottom: solid 3px black;
  padding: 0.1rem 3rem;
  justify-content:space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0; /* Asegura que el nav quede en la parte superior */
  width: 100%; /* Opcional, para asegurarse de que el nav ocupe todo el ancho */
  z-index: 500; /* Opcional, para controlar la posición en la pila */
}

.navp, .navp-brand{
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.navp-brand img{
  width: 100px;
  /* height: 80px; */
}
/* .navp-brand a{
  padding: 1rem;
} */

.navp-item{
  margin: 0;
}

.navp-link{
  color: black;
  /* border-radius: 10px; */
  display: flex;
  text-decoration: none;
  font-size:1.5rem;
  padding: 1rem;
  cursor: pointer;
  border-bottom: solid 2px white;
  /* border-left: solid 2px white; */
}

.importante{
  color: white;
  border-radius: 10px;
  display: flex;
  text-decoration: none;
  font-size:1.5rem;
  padding: 1rem;
  cursor: pointer;
  border: solid 2px black;
  background-color: black;
}

.importante:hover{
  color: black;
  background-color: white;
}

.navp-link:hover{
  /* background-color: #f3e7f3; */
  /* color: white; */
  /* font-weight: bold; */
  box-shadow: 0px 2px #f3e7f3;
  border-bottom: solid 2px black;
  transition: font-weight 0.3s linear forwards;
  animation: border_anim 0.3s linear forwards;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}

.navp-brand{
justify-content: flex-start;
}

@media screen and (max-width: 739px) {
  .navp-brand img{
    width: 50px;
  }
  nav{
    justify-content:center;
    padding: 0.5rem 0rem;
    justify-content: none;
  }

  .navp-link, .importante{
    font-size:1rem;
  }
}

@media screen and (min-width: 1256px) {
  nav{
    /* justify-content:center; */
    padding: 0.5rem 17%;
    justify-content: none;
  }
}
