
<section id="nosotros">
  <div data-aos="zoom-in" data-aos-duration="2000" data-aos-once="true">
    <div class="fila">
      <div class="columna1">
        <p class="descripcion">{{ description }}</p>
      </div>
      <div class="columna2">
        <p class="titulo">{{ teamTitle }}</p>
        <div class="etiqueta" *ngFor="let teammate of teamMates">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <div class="persona">
            <div class="nombre">{{ teammate.name }}</div>
            <div class="perfil">{{ teammate.profProfile }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="fila">
      <a class="btn-principal" (click)="redirigirEnPagina('#contacto')">{{ contactBtnTitle }}</a>
    </div>
  </div>
</section>
