
<section id="nosotros">
  <div class="columna1">
    <!-- <p class="titulo">¡La abuelita de las pijamas les da la bienvenida a <b>Jesval!</b></p> -->
    <p class="descripcion">
      En Bardelhaus, somos ingenieras apasionadas por la tecnología, el desarrollo y la educación.
      Contamos con más de 5 años de experiencia en la administración de aplicativos, en especial Moodle,
      liderando procesos de gestión e innovación tecnológica en cursos y recursos educativos,
      y desarrollando páginas web y aplicaciones de calidad.
    </p>
    <a class="btn-principal" (click)="redirigirEnPagina('contactar')">CONTACTAR</a>
  </div>
  <div class="columna2">
    <p class="titulo">Equipo</p>
    <div class="etiqueta">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      <div class="persona">
        <div class="nombre">Ichel Delgado</div>
        <div class="perfil">Desarrolladora Front-end</div>
      </div>
    </div>
    <div class="etiqueta">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      <div class="persona">
        <div class="nombre">Natalia Barbosa</div>
        <div class="perfil">Desarrolladora Full Stack</div>
      </div>
    </div>
  </div>


</section>
