#servicios{
  background-color: white;
  padding: 2rem 2rem;
}

.titulo{
  text-align: center;
}

.contenedor{
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.caracteristicas{
  padding: 1rem 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.servicio{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  /* max-height: 650px; */
  /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.29); */
  /* border-radius: 10px; */
  width: 300px;
}

.contenedor-img{
  padding: 0.7rem 0;
  margin: auto;
  position: relative;
  width: 40%;
  min-height: 150px;
  max-height: 150px;
}

.nombre{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  /* min-height: 70px;
  max-height: 150px; */
}

.descripcion{
  font-size: 1rem;
  text-align: center;
  padding-top: 0.5rem;
}



.contenedor-img figure{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-content: center; */
  /* width: 100%; */
}

.contenedor-img figure img{
  border-radius: 10px;
}

.botones{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-content: center;
}

.btn-principal{
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  background-color: #B95E9C;
  border-radius: 20px;
  border: solid 5px #f3e7f3;
  cursor: pointer;
}

.btn-principal:hover{
  box-shadow: 2px 2px 5px 5px #f3e7f3;
}

.btn-secundario{
  padding: 0.2rem 1rem;
  color: black;
  font-size: 0.8rem;
  background-color: #f3e7f3;
  border-radius: 20px;
  border: solid 1px #f3e7f3;
  cursor: pointer;
  text-align: center;
}

.btn-secundario:hover{
  border: solid 1px #B95E9C;
  background-color: #dfc2df;
}



.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 0.5rem 1rem;
  background-color: #dfc2df;
  color: black;
  border-radius: 10px 10px 0 0;
}

.modal-body {
  padding: 2rem 2rem;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

@media screen and (max-width: 500px) {
  .modal-content{
    width: 90%;
  }
}


