<section id="proyectos">
  <div class="titulo" data-aos="zoom-in" data-aos-duration="2000" data-aos-once="true">
    <h2>{{projectTitle}}</h2>
  </div>
  <div class="contenedor" data-aos="zoom-in" data-aos-duration="2000" data-aos-once="true">
    <div class="proyecto" *ngFor="let item of projectItem; let i = index">
      <div class="contenedor-img">
        <figure>
          <img [src]="item.imgUrl" alt="">
        </figure>
      </div>
      <div class="descripcion">
        <p>{{item.projectType}}</p>
        <p><i>{{item.projectName}}</i></p>
      </div>
      <div class="informacion">
        <a class="btn-principal" *ngIf="item.projectUrl; else modalBtn" [href]="item.projectUrl" target="_blank">{{ seeMoreBtn }}</a>
        <ng-template #modalBtn>
          <a class="btn-principal" (click)="abrirModal(item.modalId)">{{ seeMoreBtn }}</a>
        </ng-template>
      </div>
    </div>
  </div>
</section>

<div *ngFor="let item of projectItem; let i = index" [id]="'myModal' + (i + 1)" class="modal" [style.display]="mostrarModal[i] ? 'block' : 'none'">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="cerrarModal()">&times;</span>
      <h2>{{item.projectName}}</h2>
    </div>
    <div class="modal-body" [innerHTML]="item.modalContent"></div>
  </div>
</div>
