<footer>
  <div class="fila">
    <div class="logo">
      <figure>
        <img src="{{imageToolbar}}" alt="Logo de Bardelhaus">
      </figure>
      <div class="derechos">
        {{text1}} {{getCurrentYear()}} - {{text2}} 
      </div>
    </div>
    <div class="redes-sociales">
      <a class="" target="_blank" href="mailto:bardelhausdev@gmail.com">
        <i class="fa fa-envelope"></i>
      </a>
      <a class="" target="_blank" href="https://wa.me/+573142220567">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
</footer>
