footer{
  background-color: white;
  /* border-top: solid 2px black; */
}

.fila{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 5rem;
  color: black;
  /* border-bottom: solid 1px white; */
}

.redes-sociales, .derechos{
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  /* justify-content: space-between; */
}

.redes-sociales{
  font-size: 1.7rem;
}

.redes-sociales a{
  text-decoration: none;
  color: black;
  padding: 0 0.5rem;
}

.redes-sociales a:hover{
  color: white;
  background-color: black;
  border-radius: 20px;
}

.diseno{
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  color: white;
}

.logo{
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.logo img{
  width: 100px;
  margin-right: 1rem;
}

@media screen and (max-width: 500px) {
  .fila{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo .derechos{
    /* padding-top: 0.5rem; */
    text-align: center;
  }

  .logo figure{
    margin: auto;
  }

  .logo img{
    width: 70px;
    margin-right: 0;
  }

  .redes-sociales{
    padding-top: 0.2rem;
  }
}

@media screen and (min-width: 1256px) {
  .fila{
    /* justify-content:center; */
    padding: 1rem 22%;
    justify-content: none;
  }
}
