<footer>
  <div class="fila">
    <div class="redes-sociales">
      <a class="" target="_blank" href="mailto:bardelhaus@gmail.com">
        <i class="fa fa-envelope"></i>
      </a>
      <a class="" target="_blank" href="https://wa.me/+573142220567">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
    <div class="logo">
      <figure>
        <img src="{{imageToolbar}}" alt="Logo de bardelhaus">
      </figure>
    </div>
    <div class="derechos">
      <p>©BARDELHAUS, 2023.</p>
    </div>
  </div>
  <div class="diseno">
    <p>Diseño: BARDELHAUS</p>
  </div>
</footer>
