
<section id="contacto">
  <div data-aos="zoom-in" data-aos-duration="2000" data-aos-once="true">
    <h2 class="titulo">{{contactTitle}}</h2>
    <div class="contenedor-form">
      <form id="form-aplicacion" *ngIf="mostrarForm" [formGroup]="formAplicacion" #myForm="ngForm" (ngSubmit)="iniciarPeticionPost()">

        <div class="input-text">
          <label for="nombre">{{nameFieldName}}: </label>
          <input
            type="text"
            name="nombre"
            formControlName="nombre"
            [class.is-valid]="nombreField!.valid"
            [class.is-invalid]="nombreField!.touched && !nombreField!.valid">
          <div class="mensaje-error" *ngIf="!nombreField!.valid  && (nombreField!.dirty || nombreField!.touched)">
            <div *ngIf="nombreField!.errors?.['required']">
              {{reqFieldName}}
            </div>
            <div *ngIf="nombreField!.errors?.['stringValid']">
              {{nameFieldValid}}
            </div>
          </div>
        </div>

        <div class="input-text">
          <label for="telefono">{{phoneFieldName}}: </label>
          <input
            type="number"
            name="telefono"
            formControlName="telefono"
            [class.is-valid]="telefonoField!.valid"
            [class.is-invalid]="telefonoField!.touched && !telefonoField!.valid">
          <div class="mensaje-error" *ngIf="!telefonoField!.valid  && (telefonoField!.dirty || telefonoField!.touched)">
            <div *ngIf="telefonoField!.errors?.['required']">
              {{reqFieldName}}
            </div>
            <div *ngIf="telefonoField!.errors?.['min']">
              {{phoneFieldValid}}
            </div>
          </div>
        </div>

        <div class="input-text">
          <label for="email">{{emailFieldName}}: </label>
          <input
            type="email"
            name="email"
            formControlName="email"
            [class.is-valid]="emailField!.valid"
            [class.is-invalid]="emailField!.touched && !emailField!.valid">
          <div class="mensaje-error" *ngIf="!emailField!.valid  && (emailField!.dirty || emailField!.touched)">
            <div *ngIf="emailField!.errors?.['required']">
              {{reqFieldName}}
            </div>
            <div *ngIf="emailField!.errors?.['email']">
              {{reqFieldName}}
            </div>
          </div>
        </div>

        <p>{{contactFieldName}}: </p>
        <div class="contenedor-input-radio">
          <div class="input-radio">
            <label for="medioPreferido">{{emailFieldName}}: </label>
            <input
              type="radio"
              name="medioPreferido"
              formControlName="medioPreferido"
              [value]="'EMAIL'">
          </div>

          <div class="input-radio">
            <label for="medioPreferido">{{phoneFieldName}}: </label>
            <input
              type="radio"
              name="medioPreferido"
              formControlName="medioPreferido"
              [value]="'TELEFONO'">
          </div>
        </div>

        <div class="input-text">
          <label for="mensaje">{{messageFieldName}}: </label>
          <textarea rows="5"
                    cols="40"
                    formControlName="mensaje"
                    [class.is-valid]="mensajeField!.valid"
                    [class.is-invalid]="mensajeField!.touched && !mensajeField!.valid">
          </textarea>
          <div class="mensaje-error" *ngIf="!mensajeField!.valid  && (mensajeField!.dirty || mensajeField!.touched)">
            <div *ngIf="mensajeField!.errors?.['required']">
              {{reqFieldName}}
            </div>
          </div>
        </div>


        <div class="center-items">
          <input type="submit" value="{{sendBtnName}}" class="btn-principal">
        </div>
      </form>
    </div>

    <h2 *ngIf="!mostrarForm" style="text-align: center;">{{responseField}}</h2>
  </div>
</section>
